
           .divClass>h1 {
               color: midnightblue;
               display: flex;
                justify-content: center;
                align-content: center;
           }
           .divClass>h3 {
            display: flex;
            justify-content: center;
            align-content: center;
           } 
           .divClass>h4 {
            display: flex;
            justify-content: center;
            align-content: center;
           } 
        
           #thirdDiv>ul>li>img { 
               width: 400px;
           }
           #thirdDiv {
               height: 600px;
               width:500px;
               background-color: oldlace;
               padding: 50px;
               border: 40px solid skyblue ;
           }
           #spanId {
               font-size: 18px;
               margin: 50px;
               display: flex;
                justify-content: center;
                align-content: center;
           }
           body {
                background-image: url(https://www.dreamstime.com/sunset-florida-stock-image-image-free-16489931);
           }
           html {
    
            display: flex;
            justify-content: center;
            align-content: center;
           } 
           